.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json
commit.sh
/.angular/cache
/.angular/cache
/.angular
.angular/cache/16.2.14/angular-webpack/052a1a7835b8c463c581ed93245bade30f4d4218/0.pack
.angular/cache/16.2.14/angular-webpack/052a1a7835b8c463c581ed93245bade30f4d4218/1.pack
.angular/cache/16.2.14/angular-webpack/052a1a7835b8c463c581ed93245bade30f4d4218/index.pack
.angular/cache/16.2.14/angular-webpack/052a1a7835b8c463c581ed93245bade30f4d4218/index.pack.old
